:root {
  /* fonts */
  --font-family1: "Open Sans", sans-serif;
  --bold: bold;
  --regular: regular;
  --italic: italic;

  /* colors */
  --bg: #f5f4f0;
  --border: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
  /* sizes */
  --h1: 2.25em;
  --h2: 2em;
  --h3: 1.75em;
  --default-size: 1em;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: inside;
}

body {
  font-family: var(--font-family1);
}

img {
  display: block;
  width: 100%;
}

.blue {
  color: var(--accent-blue);
}
.pink {
  color: var(--accent-pink);
}
.purple {
  color: var(--accent-purple);
}
.orange {
  color: var(--accent-orange);
}

.detail {
  display: block;
  color: var(--text-headline);
  font-size: var(--default-size);
  text-transform: uppercase;
  margin-bottom: 8px;
}

body {
  max-width: 1120px;
  margin: 0 auto;
  padding: 88px 80px;
}
